header {
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>ul {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
        0 -5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
    border-radius: 2em;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

header>ul>li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav-link {
    text-decoration: none;
    font-size: 0.9em;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 100;
    color: rgb(43, 42, 42);
    padding: 0.8em;
    border-radius: 1.5em;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
}

header>ul>li>a:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 1.5em;
    color: aliceblue;
}

.nav-link.ativo {
    background-color: rgb(0, 0, 0);
    border-radius: 1.5em;
    color: aliceblue;
}

/* Media Queries para Responsividade */
@media (max-width: 1400px) {
    header>ul {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    header>ul {
        width: 60%;
    }
    
    .nav-link {
        font-size: 0.85em;
        padding: 0.6em;
    }
}

@media (max-width: 768px) {
    header {
        height: 50px;
    }
    
    header>ul {
        width: 90%;
        border-radius: 1.5em;
    }
    
    .nav-link {
        font-size: 0.75em;
        padding: 0.5em 0.4em;
    }
    
    header>ul>li {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
}

@media (max-width: 480px) {
    header {
        height: 45px;
    }
    
    header>ul {
        width: 95%;
        border-radius: 1em;
    }
    
    .nav-link {
        font-size: 0.65em;
        padding: 0.4em 0.3em;
    }
    
    header>ul>li {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
}